:root {
  --color-accent: oklch(0.54 0.135089 244.9924);
  --border-color: oklch(50% 10% 200 / 40%);
}

html {
  color-scheme: light dark;
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  padding: 30px;
  margin-inline: auto;
}

nav {
  display: flex;
  margin-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

ul {
  display: contents;
}

ul li {
  display: contents;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
  font-weight: 300;
}

.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  font-weight: bold;
}

nav a:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form input,
textarea {
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

form input:focus,
textarea:focus {
  border-color: rgba(0, 0, 0, 1);
  outline: none;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
}

form button {
  grid-column: 1/-1;
  padding: 10px 0;
  background-color: var(--color-accent);
  color: white;
  border-radius: 10px;
  border: none;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects article h2 {
  margin: 0;
}

h1 {
  font-size: 300%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.resume {
  padding-left: 20px;
}

.resume li {
  list-style: square;
  display: list-item;
}

section article ul {
  display: grid;
  gap: 0.5em;
  padding-left: 1em;
  list-style: square;
}

time {
  font-size: 0.8em;
  color: oklch(0.5 0.1 240);
}

.header-resume {
  margin: auto;
  width: fit-content;
}

section article div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}
